<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>ElixirReactFramework App</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/style.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/index.js"}>
    </script>
  </head>
  <body class="bg-white antialiased min-w-screen">
    {@inner_content}
  </body>
</html>
